
  .image-upload-label{
    display: block;
    margin: 0 0 0.28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
  }
  .file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  .uploaded-wrap{
   
    position: relative;
    width: 100%;
   
    .upload-box{
        background: #fff;
        border: 1px solid rgba(34,36,38,.15);
        border-radius: 0.28571429rem;
        &.upload-box-active{
            // box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 30px 0px;
           
            
            .info{
                margin-bottom : 10px !important;
            }
            
        }
       
        border-radius: 10px;
        margin: 20px 0;
        height: 80px;
        display: flex;
        
        .type{
            width: 80px;
            height:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 30px;
                color: #919191;
            }

        }
        .check{
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 14px;
                color: #1cb44a
            }
        }
        .remove{
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                background-color: transparent;
                border: 0;
                cursor: pointer;
            }

            i{
                font-size: 14px;
                color: #919191
            }
        }

        .middle{
            flex : 1;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .bar-wrapper{
                width: 100%;
                height: 4px;
                border-radius: 30px;
                overflow: hidden;

                position: relative;
                .bar{
                    position: absolute;
                    top:0;
                    right:0;
                    left:0;
                    bottom:0;
                    background-color: #eee;
                }

                .bar-filled{
                    position: absolute;
                    top:0;
                    right:30%;
                    left:0;
                    bottom:0;
                    background-color: #919191;
                }
            }
        }

        .info{
            width:100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2px;

            .label{
                font-size: 12px;
                color: #000; 
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
            }
            .percentage{
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(94, 89, 89) 
            }
       
        }
        .file-size{
            color: rgb(94, 89, 89) ;
            font-size: 12px;
        }
    }

  }

  .image-upload-wrap {
      form{
          width:100%;
          height:100%;
      }
    // margin: 20px 0;
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 30px 0px;
    // border-radius: 10px;

    background: #fff;
            border: 1px solid rgba(34,36,38,.15);
            border-radius: 0.28571429rem;

  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #f9f9f9;
  }
  
  .drag-text {
    height:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .label {
       
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: #919191;
        margin: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .icon{
        font-size: 40px;
        color: #919191;
    }

}
  
  
  

  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
 
